body {
    background: fuchsia;
}
#myImage {
    width="500";
    height="300"
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#tab {
    position: absolute;
    top: 60%;
    left: 45%;
    cursor: pointer;
    width: 100px;
}